*~
*.bak
*.tmp
*.obj
*.ilk
*.idb
*.suo
*.res
*.exp
*.exe.org
*.dll.org
*.intermediate.manifest
*.embed.manifest
*.aps
BuildLog.htm
mt.dep
*.vcproj.*.user
*.ncb
*.sdf
*.filters
*.pb
*.lib
*.dll
*.pdb
*.exe
Debug/
Release/